@tailwind base;
@tailwind components;
@tailwind utilities;

.screen {
  @apply h-screen w-full flex flex-col items-center justify-center px-6 text-center text-slate-100;
}

.btnDefault {
  @apply w-full py-4 mt-6 rounded-2xl font-semibold transition;
}

.btnPrimary {
  @apply w-full py-4 mt-6 rounded-2xl bg-indigo-500 hover:bg-indigo-600 font-semibold transition;
}

.btnGhost {
  @apply w-full py-4 mt-3 rounded-2xl bg-slate-800 hover:bg-slate-700 transition;
}

.btnGhostSm {
  @apply w-1/2 px-4 py-2 rounded-2xl bg-slate-800 hover:bg-slate-700 transition;
}

.badge {
  @apply px-3 py-1 rounded-full bg-slate-800 text-sm;
}

.btn {
  @apply cursor-pointer select-none
         transition-transform transition-colors
         active:scale-95;
}